<!DOCTYPE html>
<html>
<head>
    <title>
        PersonalityLink
    </title>
</head>
<body>
    <p>
        Your username is {{usr}} and your password is {{word}}
    </p>
    <form action="" method="POST">
        <div>
            <label>MBTI: {{mbti}}</label>
            <input type="submit" name="mbti" value="mbti">
        </div>
        <div>
            <label>DND: {{dnd}}</label>
            <input type="submit" name="dnd" value="dnd">
        </div>
        <div>
            <label>Enneagram: {{type}}</label>
            <input type="submit" name="type" value="type">
        </div>
    </form>
</body>
</html>