<!DOCTYPE html>
<html>
<title>
    I'm stuff
</title>
<body>
    <form action="" method="POST">
        <input type="submit" name="Go" value="Go">
    <br>
    {% for i in nums %}
        {{qs[i]}} &nbsp;&nbsp;
        <select name="opinion{{i}}" id="stuff" required>
            <option value="0">Strongly Agree</option>
            <option value="1">Moderately Agree</option>
            <option value="2">Mildly Agree</option>
            <option value="3" selected>Neutral</option>
            <option value="4">Mildly Disagree</option>
            <option value="5">Moderately Disagree</option>
            <option value="6">Strongly Disagree</option>
        </select>
        <br>
        <br>
    {% endfor %}
    </form>
</body>
</html>